/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    /*font-size:100%; */
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* edit */

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
 }
/* Header */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Home.js */
header {
 padding-left: 10%;
 padding-right: 10%;
 padding-top: 0;
 padding-bottom: 0;
 position: fixed;
 top: 0;
 width: 100%;
 height: 70px;
 background: #fff;
 display: flex;
 align-items: center;
 z-index: 100;
}
header > h1 {
  margin: 0; padding: 0;
  font-size: 200%;
 }
 
 header a {	
  text-decoration: none;
  color: #4b4b4b;
  font-size: x-large;
 }
 
 header > nav {
  margin: 0 0 0 auto;
 }
 
 header > nav > ul {
  margin: 0;
  display: flex;
 }
 
 header > nav > ul > li {
  margin: 0 0 0 30px;
  font-size: 10px;
 }
 /* Home.js  */
.home{
 position: relative;
}

.home > img{
 width: 100%;
 object-fit: cover;
 min-height:100vh;
}

.home_title{
 position: absolute;
 top: calc(35% - 0.5em);
 width: 100%;
 text-align: center;
}

.home_title h1 { 
 color: white;
 font-size: 70px;
 background: rgba(0,0,0,0.6);
 display: inline-block;
 padding: 20px; 
 margin: 5px;
 border-radius: 5px;
}

/* about.js */
.about {
  margin-top: 80px;
}
 
.about > h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}
 
.profile {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
  padding: 0 10px;
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.500437675070028) 31%, rgba(0,212,255,1) 100%);
}
 
.profile > h2 {
  text-align: center;
  font-size: 30px;
}
 
.content {
  display: flex;
}
 
.skill {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
  padding: 0 10px;
  color: white;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.5032387955182073) 100%);
  width: 50%;
}
 
.skill > h2 {
  text-align: center;
  font-size: 30px;
}
 
div.skill > ul {
  padding: 0;
}
 
div.skill > ul > li {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-sizing:border-box;
}
 
.experience {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
  padding: 0 10px;
  color: white;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgb(185, 122, 182) 0%, rgba(146, 216, 243, 0.719) 50%, rgba(252,176,69,1) 100%);
  width: 50%;
}
 

